$('#dropdown-menu-body--messages').html(`
    <div style="padding: 12.5px 20px; height: 60px;
                display: table; width: 100%;">
        <div style="display: table-cell; vertical-align: middle; height: 100%;">
            <p align="center" style="font-size: 15px; margin-bottom: 0;">
                You have no unread messages
            </p>
        </div>
    </div>
`);

$('#conversations').html(`
    <%= render partial: "conversations/conversations",
        locals: { conversations: @user.conversations } %>
`);

$('#unread-message-count').hide();

let message = "Messages marked as read!";
triggerAlert(message);