$('#save-icon').html(`
    <a style="padding: 0 !important; cursor: auto; color: var(--theme-color-light) !important;"
        class="action-icon btn btn-link" disabled>
        <i class="fas fa-heart"></i><br />
        Saved
    </a>
`);