<div id="alert">
    <div class="alert-header">
        <h6 class="float-left">
            <i class="far fa-star"></i> Alert
        </h6>
        
        <h6 class="float-right" align="right">
            <span onclick="$('#alert').css('display', 'none');">
                &times;
            </span>
        </h6>
    </div>
    
    <div class="alert-body">
        <p></p>
    </div>
</div>