<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-2">
            <h6 style="text-transform: uppercase; font-weight: 600;">
                Create a request
            </h6>
            
            <p>
                Upload a picture of the item you're looking for,
                add some descriptive details, and specify how much you're willing
                to pay.
            </p>
        </div>
        
        <div class="col-md-4 offset-md-1">
            <img src="/assets/images/icons/fidded_upload.png" height="200">
        </div>
    </div>
    
    <div class="row" style="letter-spacing: .03em; margin-top: 45px;">
        <div class="col-md-4 offset-md-2">
            <img src="/assets/images/icons/fidded_accept.png" height="200">
        </div>
        
        <div class="col-md-4 offset-md-1" style="padding-top: 30px;">
            <h6 style="text-transform: uppercase; font-weight: 600;">
                Accept a bid
            </h6>
            
            <p>
                You may receive several bids for your request. Select the one
                you like the most, click accept to confirm a match, and the bid's
                owner will be alerted.
            </p>
        </div>
    </div>
    
    <div class="row" style="letter-spacing: .03em; margin-top: 60px;">
        <div class="col-md-4 offset-md-2">
            <h6 style="text-transform: uppercase; font-weight: 600;">
                Receive your package
            </h6>
            
            <p>
                The bid owner will receive the shipping details you've provided,
                and will prepare your package for shipment via one of the major
                US carriers!
            </p>
        </div>
        <div class="col-md-4 offset-md-1">
            <img src="/assets/images/icons/fidded_package.png" height="200">
        </div>
    </div>
</div>