<section id="report-submitted">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div style="min-height: 0.5rem; border-bottom: 1px solid #e7e7e9;
                    min-width: 100%;"></div>
                
                <h5 style="margin-top: -0.25rem !important; line-height: 0.25rem;"
                    align="center">
                    <span style="background-color: #fff; padding-left: 30px; padding-right: 30px;">
                        <strong>Thank you!</strong>
                    </span>
                </h5>
            </div>
        </div>
        
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-4 offset-md-4">
                <p align="center">
                    Thank you for helping us keep Fidded safe. We will
                    review your submission, and take appropriate action where
                    deemed necessary. In the meantime, feel free to contact us at
                    <a href="mailto:hi@fidded.com">
                        hi@fidded.com</a>. We'd love to hear from you!
                </p>
                
                <a href="/browse" class="no-decoration">
                    <button class="btn btn-block">
                        Back to browsing <i class="fas fa-long-arrow-alt-right"></i>
                    </button> 
                </a>
            </div>
        </div>
    </div>
</section>